[submodule "lib/mips32"]
	branch = main
	path = lib/mips32
	url = git@github.com:anHappyDog/mips32.git
[submodule "lib/sync"]
	branch = main
	path = lib/sync
	url = git@github.com:anHappyDog/sync.git
[submodule "lib/elf"]
	branch = main
	path = lib/elf
	url = git@github.com:anHappyDog/elf.git
[submodule "lib/buddy"]
	branch = main
	path = lib/buddy
	url = git@github.com:anHappyDog/buddy.git
[submodule "lib/alloc_macro"]
	branch = main
	path = lib/alloc_macro
	url = git@github.com:anHappyDog/alloc_macro.git